#root {
  max-width: 2080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icons {
  max-width: 80px;
  padding: 20px;
}

.main-list {
  background-color: gray;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 25px 15px 20px;

}

.in {
  border-radius: 10px;
  width: 200px;
  height: 25px;

}